# PHPStan configuration for Marketing Kit Bundle
# Compatible with PHP 8.2+ and Symfony 7.x / 8.x

parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - demo/*
    ignoreErrors:
        -
            identifier: return.unusedType
            path: tests/Unit/Controller/MarketingToolAdminControllerTest.php
        -
            identifier: return.type
            path: tests/Unit/Controller/MarketingToolAdminControllerTest.php
            message: '#FormInterface#'

includes:
  - vendor/nowo-tech/phpstan-frankenphp/ruleset-classic.neon
  - vendor/nowo-tech/phpstan-frankenphp/ruleset-worker.neon
